{extends file="../Shared/tools_template.html"}
{block name=StyleBag}
<style type="text/css">

    body {
        font-size: 12px;
        font-family: "Arimo", Times, serif;
        /* background-image: url("{$baseUrl}/assets/images/bgImage.jpg"); */
        /* background: linear-gradient(to left, rgba(255,255,255,0) -0%,
              rgba(255,255,255,1)), url("{$baseUrl}/assets/images/bgImage4.jpg"); */
        /* background-repeat: repeat-x; */
    }

    H5 {
        font-family: "Felix Titling", Times, serif;
    }
    
    option {
        font-size: 12px;
    }

    table {
        font-size: x-small;
    }

</style>
{/block}
{block name=bodycontent}
<div class="container-float p-5">

    <div class="d-flex ">
        <a href="{$baseUrl}/toolcompare" class="btn btn-navbar"> Start Over</a>
    </div>

    <div class="d-flex justify-content-center">
           <!-- RESULT DATA INQUIRY -->
        <div class="p-2">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!-- <th colspan=2>_</th> -->
                            <!-- <th></th> -->
                            <th scope="col" colspan=4> 
                                <!-- <h6><i class="fa fa-info-circle"></i> folder#1   <kbd>{$totalDataF1.totalfolder} <i class="fa fa-folder-o"></i>  | {$totalDataF1.totalfile} <i class="fa fa-file-text-o"></i> </kbd> </h6>  
                                <kbd>Path ::  {$pathSatu} </kbd>      -->
                                <table class="table table-striped">
                                    <tr><td style="text-align: right;"><kbd>Path #1</kbd></td><td>&nbsp;</td><td style="text-align: left;" class="p-1">{$pathSatu}</td></tr>
                                    <tr><td style="text-align: right;"><kbd>folder  <i class="fa fa-folder-o"></i></kbd></td>&nbsp;<td></td><td style="text-align: left;">{$totalDataF1.totalfolder}</td></tr>
                                    <tr><td style="text-align: right;"><kbd>files <i class="fa fa-file-text-o"></i></kbd></td><td>&nbsp;</td><td style="text-align: left;  margin-left:10px;">{$totalDataF1.totalfile}</td></tr>
                                </table>                                
                            </th>
                            <th scope="col" colspan=4> 
                                <!-- <h6><i class="fa fa-info-circle"></i> folder#2  <kbd> {$totalDataF2.totalfolder} <i class="fa fa-folder-o"></i>  | {$totalDataF2.totalfile} <i class="fa fa-file-text-o"></i> </kbd> </h6>  
                                <kbd>Path :: {$pathDua} </kbd> -->
                                <table class="table table-striped">
                                    <tr><td style="text-align: right;"><kbd>Path #2</kbd></td><td>&nbsp;</td><td style="text-align: left;" class="p-1">{$pathDua}</td></tr>
                                    <tr><td style="text-align: right;"><kbd>folder <i class="fa fa-folder-o"></i> </kbd></td><td>&nbsp;</td><td style="text-align: left;">{$totalDataF2.totalfolder}</td></tr>
                                    <tr><td style="text-align: right;"><kbd>files <i class="fa fa-file-text-o"></i></kbd></td><td>&nbsp;</td><td style="text-align: left;">{$totalDataF2.totalfile}</td></tr>
                                </table> 
                            </th>
                            </tr>
                    </thead>

                    
                    <tbody>
                        <tr>
                            <!-- <th style="text-align: right;">No</th> -->
                            <!-- <th style="text-align: center;">flag</th> -->
                            <th>Filename #1</th>
                            <th>Type #1</th>
                            <th>Soze #1</th>
                            <th>Date Modify #1</th>
                            <th>Filename #2</th>
                            <th>Type #2</th>
                            <th>Soze #2</th>
                            <th>Date Modify #2</th>
                        </tr>
          
                        {foreach from=$rltData item=data name=foo}
                            
                            
                            <tr class=" {$data.trStyle}">
                                <!-- <th scope="row"></th>  -->
                                <!-- <td style="text-align: right;"><strong>{$kolom}</strong></td> -->
                                <!-- <td style="text-align: right;">
                                {$smarty.foreach.foo.iteration}
                                </td>  -->
                                   
                                {foreach from=$data.item item=subdata}
                                    <td>{$subdata}</td>
                                {/foreach}
                                
                            </tr>
                        {/foreach}
    
                        
                    </tbody>
                </table>

        </div>
    </div>
</div>
{/block}

{block name=myscript}


{/block}







